.nav-container span {
	font-weight: bold;
}

.nav-container {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 15;
	max-height: 5rem;
	/* background: linear-gradient(135deg, rgba(87, 87, 87, 0.295), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
	box-shadow: 0px 16px 26px 0px rgba(0,0,0,0.41);
}



.nav-container a {
	color: white;
	text-decoration: none;
}

.nav-container::before{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: .5s;
}

.nav-container:hover::before{
	left:100%;
}

.links {
	position: absolute;
	top: -700px;
	left: -2000px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transition: all 0.5s ease;
	z-index: 15;
	height: 100vh;
}

.links a {
	color: white;
	font-size: 2rem;
	display: block;
}

@media (min-width: 768px) {
	.links {
		position: initial;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
	}
	.links a {
		font-size: 1rem;
		color: white;
		display: inline;
	}
	.social-links {
		padding-left: 3rem;
	}
	.social-links a {
		font-size: 1.5rem;
	}
	.burguer {
		display: none;
	}
}

.links.active {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
}

.links.active a {
	font-size: 2rem;
	margin-top: 1rem;
	color: white;
}

.bg-div {
	background-color: #3333333f;
	position: absolute;
	top: -1000px;
	left: -1000px;
	width: 100%;
	height: 100vh;
	z-index: 10;
	transition: all 0.6s ease;
	background: linear-gradient(135deg, rgba(112, 112, 112, 0.473), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg-div.active {
	border-radius: 0 0 80% 0;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100vh;

	
}

.social-links {
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}
